<div class="dietary-restrictions-container">
  <h3>My Dietary Restrictions</h3>

  <!-- Input for searching & adding dietary restrictions -->
  <div class="search-box">
      <input type="text" id="dietaryInput" placeholder="Type a dietary restriction..." />
      <div id="suggestions"></div>
      <button id="addRestrictionBtn" disabled>Add</button>
  </div>

  <h4>Selected Restrictions:</h4>
  <ul id="userRestrictionsList"></ul>
</div>