.recipe-container{

    padding: 10px;
    display: grid;
    grid-template-columns: 45% auto ;
    gap: 30px;
    width: 75%;
    margin: 50px auto ;

}
a{
    width: auto;
    color: #96290B;
}

a:hover{
    color: #96290B;
}


#recipes-list img{
    border: #E6D7D0;
    border-style: solid;
    border-width:2px;
    width: 100%;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}

h2{
    margin-bottom: 20px;
}


#recipes-list .recipe-content a {
    
    display: grid;
    grid-template-areas:
        "title  average-rating"
        "description  description"
        "createdby createdby ";
    grid-template-columns: 1fr 1fr;
    color: #96290B;
}
    

#recipes-list .average-appearance ,
#recipes-list .average-taste {
    display: flex;
    align-items: center;
}

#recipes-list .average-appearance p,
#recipes-list .average-taste p{
    margin: auto 0px;
    align-items: center;
}

#recipes-list .average-appearance img,
#recipes-list .average-taste img{
    max-width: 50px;
    border-style: none;
    box-shadow: none;
}



 .recipe-content title{
    grid-area: title;
}

.recipe-container .average-rating {
    grid-area: average-rating;
    display: flex;
   justify-content: right;
   
}

.recipe-content .description{
    grid-area: description;
}

.recipe-content .createdby{
    grid-area: createdby;
}
