.recipe-container {
    margin: 30px auto;
    display: grid;
    width: 75%;
    text-align: center;
    gap: 40px;
    grid-template-areas:
        "average-rating variant"
        "image image"
        "title title"
        "description description"
        "ingredient ingredient"
        "instruction instruction"
        "recipe-details recipe-details"
        "review review"
        "appearance-rating taste-rating"
        "feedback feedback"
        "comments comments";
    grid-template-columns: 1fr 1fr;
    color: #96290B;
}



 

/* Create variant Button */
 .recipe-container .variant {
    grid-area: variant;
    display: flex;

}

.recipe-container .variant a {
    color: #FFF4EF;

}

.recipe-container .variant a:hover {
    text-decoration: none;

}

.recipe-container .variant {
    background: #BB8379;
    border-radius: 15px;
    margin: auto 10px auto auto;
    width: auto;
    padding: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 5s infinite;
}

.recipe-container .variant:hover {
    animation: pulse 1s infinite;
}

/* https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(187, 131, 121, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(187, 131, 121, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(187, 131, 121, 0);
    }
}




/* average ratings */

.recipe-container .average-rating {
    grid-area: average-rating;
    display: flex;
    gap: 15px;
   
}

.recipe-container .average-rating img {
    width: 100%;
    max-width: 50px;
    float: right;
    margin: 0;
   

}

.recipe-container .average-rating p {
    margin: auto 0;
}

.average-appearance,
.average-taste {
    display: flex;
}


/* Recipe Image */
.recipe-container .image {
    grid-area: image;
    max-width: 100%;

}

.recipe-container .image img {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

/* Title */
.recipe-container .title {
    grid-area: title;
}

/* Description */
.recipe-container .description {
    display: block;
    grid-area: description;
    font-size: 1.2em;
    text-align: justify;

}



/* Ingredient / instructions */

.recipe-container .instruction {
    grid-area: instruction;
    text-align: left;
    list-style-type: none;
    border: 2px solid #96290B;
    padding: 10px;
}


.recipe-container .ingredient {
    grid-area: ingredient;
    text-align: left;
    list-style-type: none;
    border: 2px solid #96290B;
    padding: 10px;
    

}

.recipe-container .ingredient ul,.instruction ul{
    margin: 0;
    padding:0px 5px;
 }

.recipe-container .ingredient li,
.instruction li {
    list-style-type: none;
    margin-bottom: 20px;
    align-items: center;
    flex: 1;
    display: flex;
    gap: 5%;
   
}

.recipe-container .ingredient img, .instruction img{
    margin: 0px;
     max-width: 40px;
 }




/* Servings/ yield/ prep-time/ cook time */

.recipe-details {
    grid-area: recipe-details;
    display: grid;
    grid-template-areas:
        "servings yield"
        "preptime cooktime";
    grid-template-columns: 1fr 1fr;
    border: 2px solid #96290B;
    padding: 10px;

}

.recipe-container .servings {
    grid-area: servings;
}

.recipe-container .yield {
    grid-area: yield;
}

.recipe-container .preptime {
    grid-area: preptime;
}

.recipe-container .cooktime {
    grid-area: cooktime;
}

/* individual ratings  */

/* appearance rating */
.recipe-container .appearance-rating {
    grid-area: appearance-rating;
}
.recipe-container .appearance-rating p {
    margin: 0;
}
/* taste Rating  */
.recipe-container .taste-rating {
    grid-area: taste-rating;
}

.recipe-container .taste-rating p {
    margin: 0;
}

/* https://codepen.io/hesguru/pen/BaybqXv */
.appearance-rating,
.taste-rating {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin: auto;
}

.appearance-rating:not(:checked)>input,
.taste-rating:not(:checked)>input {
    position: absolute;
    /* top: -9999px; */
    clip: rect(0, 0, 0, 0);
}

.appearance-rating:not(:checked)>label,
.taste-rating:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.appearance-rating:not(:checked)>label:before,
.taste-rating:not(:checked)>label:before {
    content: '★ ';
}

.appearance-rating>input:checked~label,
.taste-rating>input:checked~label {
    color: #ffc700;
}

.appearance-rating:not(:checked)>label:hover,
.appearance-rating:not(:checked)>label:hover~label,
.taste-rating:not(:checked)>label:hover,
.taste-rating:not(:checked)>label:hover~label {
    color: #deb217;
}

.appearance-rating>input:checked+label:hover,
.appearance-rating>input:checked+label:hover~label,
.appearance-rating>input:checked~label:hover,
.appearance-rating>input:checked~label:hover~label,
.appearance-rating>label:hover~input:checked~label,
.taste-rating>input:checked+label:hover,
.taste-rating>input:checked+label:hover~label,
.taste-rating>input:checked~label:hover,
.taste-rating>input:checked~label:hover~label,
.taste-rating>label:hover~input:checked~label {
    color: #c59b08;
}




/* review header */
.recipe-container .review {
    grid-area: review;
}

/* comment section */
.recipe-container .feedback {
    grid-area: feedback;
}

.recipe-container .comments {
    grid-area: comments;
}

.form-control:focus, textarea:focus {
    outline: none;
    border-color: #D94E1F;
    box-shadow: 0 0 5px rgba(217, 78, 31, 0.3);
}



.btn-primary {
    background-color: #BB8379; 
    border-color: #96290B; 
    color: #FFF4EF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #96290B; 
    border-color: #BB8379;
    box-shadow: none;
    
   
}

#submit-review.btn-primary:not(:disabled):not(.disabled).active,
#submit-review.btn-primary:not(:disabled):not(.disabled):active,
.show>#submit-review.btn-primary.dropdown-toggle {
    color: #FFF4EF !important;
    background-color: #96290B !important;
    border-color: #BB8379 !important;
    box-shadow: none;
}

.comment {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 10px;
}

.comment p {
    padding: 10px;
    margin-left: 20px;
    text-align: left;
}


.comment-header {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  align-items: center;
  margin:  1rem ;


}

.ratings-container {
  margin: 0.5rem 0;
}

.user-ratings {
  display: flex;
  gap: 1rem;
}

.rating-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.rating-icon {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
}