.recipe-container {
    margin: 30px auto;
    display: grid;
    width: 75%;
    text-align: center;
    gap: 40px;
    grid-template-areas:
        "average-rating variant"
        "image image"
        "title title"
        "description description"
        "ingredient ingredient"
        "instruction instruction"
        "recipe-details recipe-details"
        "review review"
        "appearance-rating taste-rating"
        "feedback feedback"
        "comments comments";
    grid-template-columns: 1fr 1fr;
}

.recipe-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.recipe-container .ingredient li,
.instruction li {
    list-style-type: none;


}

p,
h1,
li {
    color: #96290B;
    margin-bottom: 20px;
}

/* Assigning grid areas */
.recipe-container .average-rating {
    grid-area: average-rating;
}

.recipe-container .variant {
    grid-area: variant;
}

.recipe-container .image {
    grid-area: image;
    max-width: 100%;
}

.recipe-container .title {
    grid-area: title;
}

.recipe-container .description {
    grid-area: description;
    font-size: 1.2em;
    text-align: justify;

}

.recipe-container .ingredient {
    grid-area: ingredient;
    text-align: left;
    list-style-type: none;
    border: 2px solid #96290B;
    padding: 10px;

}

/* .recipe-container .substitution {
    grid-area: substitution;
    text-align: left;
    list-style-type: none; 

} */

.recipe-container .instruction {
    grid-area: instruction;
    text-align: left;
    list-style-type: none;
    border: 2px solid #96290B;
    padding: 10px;
}

.recipe-details {
    grid-area: recipe-details;
    display: grid;
    grid-template-areas:
        "servings yield"
        "preptime cooktime";
    grid-template-columns: 1fr 1fr;
    border: 2px solid #96290B;
    padding: 10px;

}

.recipe-container .servings {
    grid-area: servings;
}

.recipe-container .yield {
    grid-area: yield;
}

.recipe-container .preptime {
    grid-area: preptime;
}

.recipe-container .cooktime {
    grid-area: cooktime;
}

.recipe-container .appearance-rating {
    grid-area: appearance-rating;
    
}
.recipe-container .appearance-rating p{
    margin: 0; 
}

.recipe-container .taste-rating {
    grid-area: taste-rating;
}
.recipe-container .taste-rating p{
    margin: 0;
}

.recipe-container .review {
    grid-area: review;
}

.recipe-container .feedback {
    grid-area: feedback;
}
.recipe-container .comments {
    grid-area: comments;
}


/* https://codepen.io/hesguru/pen/BaybqXv */
.appearance-rating,
.taste-rating {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin: auto;
}

.appearance-rating:not(:checked)>input,
.taste-rating:not(:checked)>input {
    position: absolute;
    /* top: -9999px; */
    clip:rect(0,0,0,0);
}

.appearance-rating:not(:checked)>label,
.taste-rating:not(:checked)>label{
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.appearance-rating:not(:checked)>label:before,
.taste-rating:not(:checked)>label:before {
    content: '★ ';
}

.appearance-rating>input:checked~label,
.taste-rating>input:checked~label {
    color: #ffc700;
}

.appearance-rating:not(:checked)>label:hover,
.appearance-rating:not(:checked)>label:hover~label ,
.taste-rating:not(:checked)>label:hover,
.taste-rating:not(:checked)>label:hover~label {
    color: #deb217;
}

.appearance-rating>input:checked+label:hover,
.appearance-rating>input:checked+label:hover~label,
.appearance-rating>input:checked~label:hover,
.appearance-rating>input:checked~label:hover~label,
.appearance-rating>label:hover~input:checked~label ,
.taste-rating>input:checked+label:hover,
.taste-rating>input:checked+label:hover~label,
.taste-rating>input:checked~label:hover,
.taste-rating>input:checked~label:hover~label,
.taste-rating>label:hover~input:checked~label {
    color: #c59b08;
}
/* end */

.comment {
    display: grid;
    grid-template-columns: 80% 20%;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 10px;

}

.comment p{
    padding:10px;
    margin: 0;

}