<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Common CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Reset Password</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-xl nav-container">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="logo" />
        </a>
      </nav>
    </header>

    <main>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header text-center">
                <h3>Forgot Password</h3>
              </div>
              <div class="card-body">
                <% if (error) { %>
                    <div class="alert alert-danger"><%= error %></div>
                <% } %>
                  
                <% if (message) { %>
                    <div class="alert alert-success"><%= message %></div>
                <% } %>
                  

                <form action="/users/forgot-password-reset" method="POST">
                  <div class="form-group">
                    <input type="password" class="form-control" name="newPassword" placeholder="New Password" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" name="confirmNewPassword" placeholder="Confirm Password" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</body>
</html>
